.welcomePageBody, .welcomePageHTML{
    height: 100%;
    width: 100%
}

.heroImage {
    clear: both;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.2), 
            rgba(0, 0, 0, 0)), 
            url("../images/BackgroundImg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroText{
    text-align: center;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.heroText p{
    color: white;
}

.logo {
    padding: 3%;
    margin-left: 4%;
    margin-right: 10%;
    width: 35%;
    padding-top: 5%;
}

.navbar{
    background-color: white;
    padding: 0%;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.content{
    padding-top: 1em;
}

.sticky + .content {
    padding-top: 1.5em;
}

.dropdown{
    display: inline-block; 
    background-color:#00003d;
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    width: 25%;
}

.dropBtn{
    display: block;
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.dropContent{
    display: none;
    position: absolute;
    z-index: 1;
    color: #f2f2f2;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align:left;
    background-color: #00003d;
    width: 100%;
}

.dropContent a{
    display: block;
    color: #f2f2f2;
    margin-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.dropdown:hover .dropContent{
    display:block;
}

.header {
    font-size: 1.75em;
    color: #00003d;
    margin-left: 20%;
    padding-top: 0.2em;
    padding-bottom: 0;
}

#footer a {
    float: left;
    display: block;
    background-color:#00003d; 
    color: #f2f2f2;
    text-align: center;
    padding-bottom: 0.75em;
    padding-top: 0.75em;
    width: 33.33%;
}

p {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 0.2em;
}

.clientHeader {
    color: #00003d;
    font-size: 1.25em;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 0.2em;
}

.strategic {
    color: #00003d;
    font-size: 1.25em;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 0.2em;
}

.servicesTable tr,td {
    padding: 0.75em;
}

.roles{
    padding: 0.25em;
}

.roleTable {
    margin-left: 20%;
}

.servicesTable {
    margin-left: 20%;
}

#clientLocationsMap{
    display: inline-block;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%
}

.mapKey {
    color: black;
    font-size: 0.5em;
}

.teamElements {
    margin-left: 20%;
}

.strategyElements {
    margin-left: 20%;
}

#questionnaire li{
    margin-left: 20%;
    margin-right: 25%;
}

#questionnaire input{
    margin-left: 25%
}



figcaption{
    text-align: center;
}

.clientsTable{
    width: 20%;
    height: 20%;
    margin-left: 25%;
}

@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 812px) {
    .heroText h1{
        font-size: 4em;
    }
    .heroText h4{
        font-size: 3em;
    }
    .navbar{
        font-size: 2em;
    }
    .navbar a{
        text-align: left;
        margin-left: 10%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .dropdown{
        display: block;
        width: 100%;
        height: auto;
    }
    .header{
        font-size: 3em;
    }
    p{
        font-size: 2em;
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
    #footer a{
        display: block;
        width: 100%;
        font-size: 2em;
    }
    .logo {
        width: 60%
    }
    td{
        font-size: 2em
    }
    .content a{
        font-size: 2em;
    }
    #JoeWalker a{
        font-size: 1em
    }
    #CharlotteWalker a{
        font-size: 1em
    }
    #userInfo {
        font-size: 2em;
    }
    .question{
        font-size: 1.5em;
    }
    .question input{
        height: 1.5em;
        width: 1.5em;
    }
}

#Featured {
    position: absolute;
    top: 70%;
    left: 40%;
    width: 20%;
    align-items: center;
    background-color: #00003d;
    border: none;
    border-radius: 1%;
    color:#f2f2f2;
}

/* 

saving this code for a later update 

#HowWeSpendOurTime {
    text-align: center;
    background-image: url("../images/WorkspaceCropped.jpeg");
    background-size: cover;
    margin-right: 20%;
}

*/